<h1>Eat Da Burger</h1>

  {{#each burger}}
    <p>{{id}} {{burger_name}}</p>
  {{/each}}
  
  {{!-- <div class="form-group">
    <label for="slee">Sleepy?</label>
    <br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!
    <br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Add Cat</button>
</form>