#submit-btn {
  padding: 0;
  border: none;
  border: 1px solid rgb(207, 207, 207);
  resize: none;
}

.devour-btn {
  font-size: 13px;
  margin: 0 auto;
}

textarea,
.alert-danger {
  width: 100%;
}

@media (min-width: 350px) {
  .btn {
    width: 80%;
  }
}

@media (min-width: 576px) {
  p {
    font-size: 15px;
  }
  textarea,
  .alert-danger {
    width: 50%;
  }
}
